.main_Div {
    display: flex;
}

.left_Div {
    width: 40vw;
    margin-top: 50px;
}

.right_Div {
    left: 40vw;
    width: 60vw;
    margin-top: 50px;
}

.title_Div {
    display: flex;
    height: 300px;
    margin-left: 50px;

}

.menu_Div {
    height: 300px;
    margin-left: 50px;
}

.link_Div {
    height: 300px;
    margin-left: 50px;
    display: flex;
    box-sizing: border-box;
}

.menu {
    width: calc(20vw - 50px);
}

.projects {
    width: calc(20vw);
}

.title_X {
    margin: 0 25px 0 25px;
}

.rect {
    background-color: #4c5661;
    width: 175px;
    height: 44px;
}

.main_Heading {
    font-weight: bold;
    margin: 0;
    height: 44px;
}

.picture {
    width: 40vw;
}

.i_1 {
    width: 100%;
    margin-bottom: 100px;
}

