@font-face {
  font-family: 'Clarika Pro Grotesque';
  font-style: normal;
  font-weight: bold;
  src: local('Clarika Pro Grotesque'), 
    url('./fonts/ClarikaProGrot-Bd.ttf') format('truetype'),
    url('./fonts/ClarikaProGrot-BdIt.ttf'),
    url('./fonts/ClarikaProGrot-Md.ttf'),
    url('./fonts/ClarikaProGrot-MdIt.ttf'),
}

@font-face {
  font-family: 'Clarika Pro Grotesque';
  font-style: italic;
  font-weight: bold;
  src: local('Clarika Pro Grotesque'), 
    url('./fonts/ClarikaProGrot-BdIt.ttf'),
}

@font-face {
  font-family: 'Clarika Pro Grotesque';
  font-style: normal;
  font-weight: medium;
  src: local('Clarika Pro Grotesque'), 
    url('./fonts/ClarikaProGrot-Md.ttf'),
}

@font-face {
  font-family: 'Clarika Pro Grotesque';
  font-style: italic;
  font-weight: medium;
  src: local('Clarika Pro Grotesque'), 
    url('./fonts/ClarikaProGrot-MdIt.ttf'),
}

body {
  margin: 0;
  font-family: 'Clarika Pro Grotesque';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: medium;
  background-color: #d9d9d7;
  color: #4c5661;
}

